html {
  --bg-dark:   #141820;
  --bg-medium: #1C212E;
  --bg-editor: #212837;
  --bg-pink: pink;
  --bg-yellow: yellow;

  // var mapping
  --bg-titleBar: var(--bg-medium);
  --bg-activityBar: var(--bg-dark);
  --bg-sidebar: var(--bg-medium);
}

body {
  font-family: $systemFont;
  margin: 0;
  background-color: #C0C9D7;
}