html {
  --bg-dark:   #141820;
  --bg-medium: #1C212E;
  --bg-editor: #212837;
  --bg-pink: pink;
  --bg-yellow: yellow;

  // var mapping
  --bg-titleBar: var(--bg-medium);
  --bg-activityBar: var(--bg-dark);
  --bg-sidebar: var(--bg-medium);
}

html, 
body {
  height: 100%;
}

body {
  font-family: $systemFont;
  margin: 0;
  // background-image: linear-gradient(136deg, #27a0b0 0%, #3a508a 52%, #a85dff 100%);
  background-image: linear-gradient(136deg, #27a0b0 0%, #5477d4 52%, #a85dff 100%);
  // background-image: linear-gradient(136deg, #27a0b0 0%, #7d96da 52%, #a85dff 100%);
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}