// ==========================================================================
// Colors
// ==========================================================================
$red:    #FF6258;
$yellow: #FFC12F;
$green:  #28CA42;

// ==========================================================================
// Fonts
// ==========================================================================
$systemFont: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
