// ==========================================================================
// Colors
// ==========================================================================
$red:    #FF6258;
$yellow: #FFC12F;
$green:  #28CA42;