<form method="post" action="theme.json">
  <fieldset>
    <legend>Editor</legend>
    <div>
      <label for="titlebar-bg">Titlebar background</label>
      <input type="color" id="titlebar-bg" name="titleBar.activeBackground" value="#141820" data-css-var="--bg-titleBar">
    </div>

    <div>
      <label for="activity-bar-bg">ActivityBar background</label>
      <input type="color" id="activity-bar-bg" name="activityBar.background" value="#1C212E" data-css-var="--bg-activityBar">
    </div>

    <div>
      <label for="sidebar-bg">Sidebar background</label>
      <input type="color" id="sidebar-bg" name="sideBar.background" value="#1C212E" data-css-var="--bg-sidebar">
    </div>
  </fieldset>

  <button type="reset">Argg! It's horrible!</button>
  <button type="submit">Download theme</button>
</form>