<div class="titleBar">
  <div class="titleBar__buttons">
    <div class="winBtn winBtn--close"></div>
    <div class="winBtn winBtn--minimize"></div>
    <div class="winBtn winBtn--maximize"></div>
  </div>
</div>